.App {
  text-align: center;
  font-size: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo {
  border: 8px solid cyan;
  border-radius: 50%;
}

/* .logo {
  animation-name: flip_animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes flip_animation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
} */

@media (prefers-reduced-motion: no-preference) {
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#project {
  background-color: black;
  max-width: 100%;
  padding-bottom: 2rem;
}

.App-link {
  color: #61dafb;
}

.name {
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.name:hover {
  color: white;
}

.navbarNav_css {
  justify-content: center;
  font-size: 20px;
}

.nav-link:focus {
  color: white;
}

.nav-link {
  color: white;
}
.nav-link:hover {
  color: rgb(156, 149, 149);
}

.nav_css {
  background-color: black;
  width: 70%;
  margin: 0 auto;
  padding: 50px;
}

.navbar-nav li {
  margin-inline: 35px;
}

.IamSection_css {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15rem;
  font-size: 6rem;
  color: white;
}

.IamSection_css div {
  position: absolute;
  left: 30%;
}

.FirstSection_css {
  background-color: black;
  max-width: 100%;
  height: 65rem;
}

.projects_css {
  padding: 5rem;
}

.projects_col {
  padding-bottom: 7px;
  position: relative;
}

.allprojects_img {
  position: absolute;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
}

.projects_col:hover .allprojects_img {
  display: flex;
  cursor: pointer;
}

.projects_col:hover .project_img {
  opacity: 0.5;
}

.parallax {
  /* background: url("./media/About_and_Home_Page/abg1.png"); */
  background: url("./media/blue-background.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact {
  background-color: #eba525;
  max-width: 100%;
  padding-block: 2rem;
}

.contact span {
  margin: 1rem;
  padding: 1rem;
}

.contact span:hover {
  cursor: pointer;
}

.contact span:hover a {
  color: blue;
}

.about {
  background-color: black;
  color: white;
  max-width: 100%;
}

.parallax2 {
  /* background: url("./media/About_and_Home_Page/abg3.png"); */
  background: url("./media/blue-background.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.view_css {
  color: white;
  text-decoration: none;
  font-size: 25px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.IamSection {
  position: absolute;
  margin-left: 2rem;
  /* color: cyan; */
  color: cyan;
  text-align: left;
}
.Typewriter__cursor {
  /* color: cyan; */
  color: cyan;
  text-align: inherit;
}

.about_the_website_text {
  text-align: left;
  padding-left: 5rem;
}
.about_the_creator_text {
  text-align: left;
  padding: 1rem;
}

@media (max-width: 767px) {
  /* .App{
    display: none;
  } */

  .allprojects_img {
    width: 200%;
    position: absolute;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .nav_css {
    width: 100%;
    padding: 0px;
    padding-top: 10px;
  }
  .name {
    font-size: 1.3rem;
    text-align: center;
    margin: 0px auto;
  }
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    justify-content: center;
  }
  .IamSection {
    margin-left: 1rem;
  }
  .IamSection_css {
    font-size: 2.8rem;
    margin-top: 13rem;
  }
  .IamSection_css div {
    left: 9%;
  }

  .bottom_arrow {
    position: inherit;
  }
  .bottom_arrow svg {
    margin-top: 20rem !important;
  }

  .FirstSection_css {
    height: 50rem;
  }
  .project_title {
    font-size: 2rem !important;
  }

  .row {
    display: block;
  }
  .project_css {
    padding-left: 0%;
  }
  .projects_col {
    padding-left: 0px;
  }
  .img-fluid {
    max-width: 223%;
    height: auto;
  }

  .parallax {
    /* background: url("./media/About_and_Home_Page/abg1.png"); */
    background: url("./media/blue-background.jpg");
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .parallax2 {
    /* background: url("./media/About_and_Home_Page/abg3.png"); */
    background: url("./media/blue-background.jpg");
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .project1_img1 {
    background: url("./media/C1_bg/grid_0\ \(1\).png") !important;
    min-height: 300px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
  .project_img2 {
    background: url("./media/C1_bg/grid_0\ \(3\).png") !important;
    min-height: 300px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
  .bm_img2 {
    background: url("./media/TF1_bg/bm1.png") !important;
    min-height: 300px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
  .bm_img1 {
    background: url("./media//TF1_bg/drive-download-20221119T204605Z-001/new2.png") !important;
    min-height: 300px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }

  .bm_img4 {
    background: url("./media//TF1_bg/drive-download-20221119T204605Z-001/new.png") !important;
    min-height: 300px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
  .bm_img3 {
    background: url("./media//TF1_bg/drive-download-20221119T204605Z-001/new1.png") !important;
    min-height: 300px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
  .project2_img2 {
    background: url("./media/DS_bg/new.png") !important;
    min-height: 300px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
  .project2_img1 {
    background: url("./media//DS_bg/ds12.png") !important ;
    min-height: 300px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
  .project2_img3 {
    background: url(https://i.ibb.co/g9zrJhn/DS23242524.png) !important;
    min-height: 300px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }

  .project3_img1 {
    background: url("./media/SDE_bg/drive-download-20221119T200423Z-001/new.png") !important;

    min-height: 300px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
  .project3_img2 {
    background: url("./media/SDE_bg/drive-download-20221119T200423Z-001/new1.png") !important;
    min-height: 300px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
  .project3_img3 {
    background: url("./media/SDE_bg/drive-download-20221119T200423Z-001/new3.png") !important;
    min-height: 300px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
  .project3_img4 {
    background: url("./media/SDE_bg/drive-download-20221119T200423Z-001/new2.png") !important;
    min-height: 300px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
  .project2_img1_text {
    padding-left: 35px !important;
    text-align: left;
  }
  .github_token {
    max-width: 70%;
    height: auto;
  }

  .token {
    /* padding: 2rem; */
    margin-block: -1px;
  }
  .about {
    margin-top: -1px;
  }
  #project {
    margin-bottom: -1px;
  }
  .about_the_website_text {
    padding-left: 1rem;
    text-align: center !important;
  }

  .contact {
    display: flex;
    justify-content: space-around;
    padding-block: 5px;
  }
  .mob_css {
    padding: 0px !important;
  }
  .starting_img_text {
    margin-bottom: -1px;
  }
  .starting_img_text h1,
  .starting_img_text_white_bg h1 {
    padding: 10px;
  }
  .starting_text {
    width: 100%;
    padding: 2rem;
  }
  .video_project1,
  .brief_text,
  .project_images {
    margin-bottom: -1px;
  }

  .video_project1 iframe {
    width: 350px;
    height: 350px;
  }
  .project_images .col-4 {
    width: 100%;
  }
  .multi_phone {
    width: 100%;
  }
  .app_interface_text {
    padding-left: 25px !important;
    width: 100%;
  }

  .app_interface_text div {
    /* padding-inline: 35px !important; */
  }
  .img_css_text {
    text-align: left;
    padding-inline: 35px;
  }
  .text_center {
    width: 100% !important;
    margin-inline: 0% !important;
    padding-inline: 35px !important;
    text-align: left;
  }

  .text {
    padding-left: 35px !important;
    padding-inline: 0px;
  }

  .brief_text {
    padding-left: 35px !important;
  }
  .brief_text_white_bg {
    text-align: left;
    /* padding-inline: 35px !important; */
  }
  .img-fluid_css {
    width: 215% !important;
  }
  .img-fluid_mohit {
    width: 100% !important;
  }
  .iphone_pad {
    padding-inline: 35px !important;
  }
  .navbar-toggler {
    background-color: #6b6767;
  }
  .navbar-nav {
    padding-top: 5px;
  }

  .home_visual {
    height: 14rem !important;
  }
}
